parameters:
    level: 3
    paths:
        - src
    excludePaths:
        analyse:
            - src/Integration/BuddyPress
    ignoreErrors:
        - '#Access to an undefined property object::\$#'
    scanFiles:
        - stubs/runtime-stubs.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
